/* ********* This is for carosuoul slider ********** */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
/* ****************************************************************************************************** */
/* ****************************************************************************************************** */





/* //===== LANDING PAGE START =====// */
.hero {
  background-image: url("../image/carosoul_02.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}
.hero h1{
  font-size: 62px;
  color: white;
  font-family: 'Anton', sans-serif;
}
.hero p{
  color: white;
  font-size: 17px;
  font-family: 'Roboto Condensed', sans-serif;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 20, 51, 0.8);
  z-index: -1;
}
/* //===== LANDING PAGE END =====// */














/* //===== For all headingn line =====// */
.h-line{
    width: 210px;
    margin: 0 auto;
    height: 1.7px;
}


/* //===== For About us section Heading =====// */
.section-title{
  padding-bottom: 10px;
}
.section-title h2{
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}
.section-title p{
    margin: 0;
    font-size: 36px;
    font-weight: 750;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #151515;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ffde9e;
  margin: 4px 10px;
}



















/* First navbar social media icon  */
.social_media_icon{
    text-decoration: none;
}
@media only screen and (max-width: 500px) {
    #navbarSupportedContent{
        margin-left: 100px;
  }
}





/* ====== OUR TEAM PART START ====== */
.pop-about:hover{
  background: grey;
  color: white;
  transform: scale(1.03);
  transition: all 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pop-about i:hover{
  color: white;
  background-color: black;
}
.pop-about a h4:hover{
  color: #ffc107;
}
/* ====== OUR TEAM PART END ====== */






/* ====== SERVICES PART START ====== */
.pop:hover {
    transform: scale(1.03);
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pop:hover i{
  color: white;
}
.pop a h4:hover{
  color: #ffc107;
}
/* ===== SERVICES PART END ===== */






/* =====// Second navbar //=====  */
#navbarText{
    margin-left: 300px;
}

@media only screen and (max-width: 500px) {
    #navbarText{
        margin-left: 0px;
  }
}








/* ===== Testimonial Card ===== */
.review-card {
    background-color: white;
	padding: 20px;
	/* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); */
    border-radius: 15px;
}
.img-area {
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 25px;
}
.img-area img {
	width: 100%;
}
.header-content {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.info h4 {
	margin: 0;
	font-size: 22px;
	font-weight: 600;
}
.info p {
	margin: 5px 0 0;
	font-size: 14px;
	font-weight: 400;
	color: #666;
}
.single-review p {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7;
	color: #333;
}
.review-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	font-size: 14px;
	color: #666;
}
.rating {
	display: flex;
}
.rating span {
	color: #000;
	font-size: 18px;
}
.rating span.active {
	color: #fbc02d;
}



/* ==========// THIS PART IS FOR ALL DETAILS SECTION //=========== */
.blog_details h5{
    /* background: #f44336; */
    background-color:  #151515;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}
/* ==========// THIS PART IS FOR ALL  DETAILS SECTION //=========== */






/* //===== BOOK AN APPOINTEMENT PAGE START =====// */
#book_appointment{
  background-image: url("../image/book_appointemnt.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#book_appointment a button{
  color: white;
}
#book_appointment a button:hover{
  color: black;
}
@media only screen and (max-width: 500px) {
  #book_appointment a button{
    margin-bottom: 20px;
  }
}   
/* //===== BOOK AN APPOINTEMENT PAGE END =====// */






/* ==========// PORTFOLIO DESIGN SECTION START //=========== */
.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    /* border-radius: 5px; */
    border-radius: 3px;
    background: #fff;
    /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); */
  }

  .team .member .member-img {
    position: relative;
    overflow: hidden;
  }
  .team .member .member-img img{
    height: 300px;
    width: 420px;
  }

  .team .member .social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
    /* background: rgba(255, 255, 255, 0.85); */
  }

  .team .member .social a {
    transition: color 0.3s;
    color: #111;
    margin: 0 10px;
    padding-top: 8px;
    display: inline-block;
  }

  .team .member .social a:hover {
    color: #1bbd36;
  }

  .team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }

  .team .member .member-info {
    padding: 25px 15px;
  }

  .team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #111;
  }

  .team .member .member-info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #b4aca8;
  }

  .team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #847872;
  }

  .team .member:hover .social {
    opacity: 1;
  }
/* ==========// PORTFOLIO DESIGN SECTION END//=========== */







.contact .info i {
  font-size: 20px;
  background: #ffc451;
  color: #151515;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}









/* =====// FIRST FOOTER START //=====  */
.footer{
  background-color: #151515;
}
.footer .container .row a .fot:hover{
color: #ffc451;
}
/* =====// FIRST FOOTER END //===== */





/* =====// SECOND FOOTER START //===== */
.second-footer .copyright {
  text-align: center;
  padding-top: 20px;
  color: white;
}
.second-footer .credits{
  padding-top: 5px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding-bottom: 15px;
}
/* =====// SECOND FOOTER END //===== */